
<footer id="footer">
    <!-- Gmail -->
    <a href="mailto:rodrigoagponte@gmail.com"><i class="social-media-icons fas fa-solid fa-envelope"></i></a>

    <!-- Instagram -->
    <a href="https://www.instagram.com/rodrigoagponte/"><i class="social-media-icons fab fa-brands fa-instagram"></i></a>

    <!-- Linkedin -->
    <a href="https://www.linkedin.com/in/rodrigo-ponte-3a58ba196/"><i class="social-media-icons fab fa-brands fa-linkedin-in"></i></a>

    <!-- Github -->
    <a href="https://github.com/rodrigoagponte"><i class="social-media-icons fab fa-brands fa-github"></i></a>

    <p class="text-light">© Copyright: rodrigoagponte</p>
</footer>
